<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <br><br>
      <div style="font-size:4em;">testing </div>

      <a href="/auth/patreon">Login with Patreon</a>

      <br>

    </div>
  </div>
</div>